html,body {
  
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Montserrat sans-serif";
    scroll-behavior: smooth;;
  }
 
#Top{
  background-image: url("images/background_new.jpg");
  background-size: 100%;
  margin-bottom: 5em;
}

  
.navbar { 
 
  background-color: #808080; 
}

.logo{
  color: #ffffff;
  font-family: Cedarville Cursive;
}

.nav-item{
padding: 0 4rem;
font-weight: bold;
font-size: 1.25rem;
}

.logo{
  width: 20%;
  
}
.navbar-brand{
  text-align: left;  
}


.container-fluid{
  padding: 0 0 5rem 0;
}

.proj_img{
  border-style:solid;
    border-color: black;
    border-width: 15px;
}

#Projects{
  padding: 10rem 0;
}
.container1{
  padding: 12% 0 7% 0;
  /* background-color: #40e0d0; */
}

.container2{
    padding: 0 14%;
    
  }

.cont3{
  text-align: left;
}
hr { background-color: red; height: 1px; border: 0; }

.row{
    padding-top: 10rem;
}

.heading1{
    font-size: 100px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    margin: 0 25% ;
    color: whitesmoke;
}
.heading2{
  font-size: 40px;
  line-height: 1.5;
  text-align: left;
  margin-left: 25%;
  margin-right: 40%;
  color: #fffdfd;
}


.img{

    float: left;
    padding: 15rem 10rem;
}
.my-image{
    width: 60%;
    border-style:solid;
    border-color: black;
    
    
}
.skill_text{
  font-weight: bold;
  font-size: 1.5rem;
}



.project-title{
    text-align: left;
    padding-right: 10rem;
    margin-left: 10rem;
    font-family: "Montserrat-Black";
  font-weight: bold;
}
.para{
    text-align: left;
    padding-right: 10rem;
    margin-left: 10rem;
    margin-top: 2rem;
    font-size:20px;
    font-weight: 400;
    line-height: 31px;
    font-family: Ubuntu Condensed ,sans-serif;
}
.image_proj{
    width: 70%;
    height: 100%;
    margin-left: 12rem;
}
.proj2, .proj2_part2{
    padding-top: 8rem;
}

.journey{
  padding: 10rem;
  font-weight: bold;
}


.footer{
    font-size: 5rem;
    padding: 5rem;
}
.btn{
  margin: 5% 3% 5% 0;
    padding: 2rem 6rem;
    font-size: 30px;
}

.container-final{
    padding: 10rem;
    font-size: 5rem;
}

.marquee-container {
  padding-top: 5rem;
  height: 120px;
  overflow: hidden;
  background-color: #808080;
 
  line-height: 120px;
  text-align: center;
}
  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    font-size: 80px;
    color: white;
    animation: marquee 20s linear infinite;
  }

  .marquee2 {
    animation-delay: 10s;
  }
  b {
    padding-left: 10px;
  }



  .marquee-container-footer {
    padding-top: 3rem;
    height: 50px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
    text-align: center;
  }
    .marquee-footer {
      top: 0;
      left: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      font-size: 30px;
      color: white;
      animation: marquee 20s linear infinite;
    }
  
    .marquee-footer2 {
      top: 0;
      left: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      font-size: 30px;
      color: white;
      animation-delay: 10s;
    }
    b {
      padding-left: 10px;
    }
  
  
  
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

.container-final{
  padding: 5rem;
  color: aliceblue;
  background-color: #808080;
}

.socials{
  padding-bottom: 10rem;
}



/*Custom LinkedIn Button*/
.linkedin-button {

  display: inline-block;
  background: #0077B5;
  color: #fff !important;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  -webkit-transform: translateZ(0px);
}  

  .linkedin-button:hover {

      color: #fff;
      box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
      -webkit-transform: translate(0px, -10px);   
      -webkit-font-smoothing: subpixel-antialiased;
  }

/*Custom Twitter Button*/
.twitter-button {

  display: inline-block;
  background: #55acee;
  color: #fff !important;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  -webkit-transform: translateZ(0px);
  margin-left: 10rem;
}  

  .twitter-button:hover {

      color: #fff;
      box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
      -webkit-transform: translate(0px, -10px);   
      -webkit-font-smoothing: subpixel-antialiased;
  }
  .github-button {

    display: inline-block;
    background: #565757;
    color: #fff !important;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    -webkit-transform: translateZ(0px);
  }  
  
    .github-button:hover {
  
        color: #fff;
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        -webkit-transform: translate(0px, -10px);   
        -webkit-font-smoothing: subpixel-antialiased;
    }
  
    .short-text { display: none; }

@media screen and (max-width: 700px) {
 

  .image_proj{
    margin-left:0rem;
  }

  
  .marquee {
    font-size: 50px;
    animation: marquee 30s linear infinite;
    
  }
  .short-text { display: inline-block; }
    .full-text { display: none; }



  .image_proj{
    padding-bottom: 5rem;
  }
  .twitter-button{
    margin-left: 0em;
  }

  .heading1{
    font-size: 80px;
    margin-left: 3rem;
    line-height: 2.5;
  }
  .heading2{
    margin-right: 20px;
    margin-left: 3rem;
  }

   
#Top{
  background-image: url(none);
  background-size: 150%;
  background-color: grey;
  height: 100%;
  
}


.skills{
  padding: 8rem;
}

.skills-img{
 padding: 0 2rem 2rem;
 
}



.project-title, .para{
  margin-left: 4rem;
  padding-right: 0rem;
  
}

.proj2_part2{
  padding-top: 2rem;
}
.marquee-footer, .marquee-footer2{
  font-size: 20px;
}
.work, .work2{
  animation: marquee 15s linear infinite;
}

.container1{
  width: 100%;
  padding-top: 15rem;
}

.footer{
  font-size: 4rem;
  padding: 0;
}

.linkedin-button{
  margin-bottom: 3rem;
}

.back_to_top{
  font-size: 3rem;

}
.container-final{
  padding: 0;
}

#Projects{
  padding: 5rem 0;
}
}



